#NAV{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
}
#qrbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}