{# login.html #}
{% extends 'basePage.html' %}

{% block links %}
<script src="{{url_for('static', path='js/adminV3.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', path='css/styleAdminV2.css')}}">
{% endblock links %}


{% block bodyOfPage %}


<div class="container">
    <div class="card border-dark mb-3">
		<div class="card-body">
			<div class="row justify-content-center">
				<div class="card text-bg-dark mb-3" style="text-align: center;">
					<h2>
						Gestione Admin
					</h2>
				</div>
			</div>
		</div>
	</div>
    <div class="d-flex justify-content-center">
        <div class="btn-group  ">
            <button type="button" class="btn btn-sm btn-primary" onclick="tabella('People');" style="margin-right: 0px;">Persone</button>
            <button type="button" class="btn  btn-primary dropdown-toggle dropdown-toggle-split" style="margin-left: 0px;" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu  ">
              <li><a class="dropdown-item" href="javascript:filter('People','name','Nome');">Nome</a></li>
              <li><a class="dropdown-item" href="javascript:filter('People','surname','Cognome');">Cognome</a></li>
              <li><a class="dropdown-item" href="javascript:filter('People','cf','CF');">CF</a></li>
              <li><a class="dropdown-item" href="javascript:filter('People','gender','Genere');">Genere</a></li>
              <li><a class="dropdown-item" href="javascript:filter('People','email','Email');">Email</a></li>
              <li><a class="dropdown-item" href="javascript:filter('People','birthday','Data Nascita');">Data Nascita</a></li>
            </ul>
        </div>
        <div class="btn-group  ">
            <button type="button" class="btn btn-sm  btn-primary" onclick="tabella('Classm');" style="margin-right: 0px;">Classi</button>
            <button type="button" class="btn  btn-primary dropdown-toggle dropdown-toggle-split" style="margin-left: 0px;" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:filter('Classm','year','Anno');">Anno</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Classm','carrel','Sezione');">Sezione</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Classm','articulation','Articolazione');">Articolazione</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Classm','active','Attiva');">Attiva</a></li>
            </ul>
        </div>

        <div class="btn-group  ">
            <button type="button" class="btn btn-sm  btn-primary" onclick="tabella('Phone');" style="margin-right: 0px;">Telefoni</button>
            <button type="button" class="btn  btn-primary dropdown-toggle dropdown-toggle-split" style="margin-left: 0px;" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:filter('Phones','prefix','Prefisso');">Prefisso</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Phones','number','Numero');">Numero</a></li>
            </ul>
        </div>

        <div class="btn-group" >
            <button type="button" class="btn btn-sm  btn-primary" onclick="tabella('Vehicles');" style="margin-right: 0px;">Veicoli</button>
            <button type="button" class="btn  btn-primary dropdown-toggle dropdown-toggle-split" style="margin-left: 0px;" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:filter('Vehicles','plate','Targa');">Targa</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Vehicles','type','Tipo');">Tipo</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Vehicles','owner','Proprietario');">Proprietario</a></li>
            </ul>
        </div>

        <div class="btn-group  ">
            <button type="button" class="btn btn-sm  btn-primary" onclick="tabella('Account');" style="margin-right: 0px;">Account</button>
            <button type="button" class="btn  btn-primary dropdown-toggle dropdown-toggle-split" style="margin-left: 0px;" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:filter('Account','nick','Nickname');">Nickname</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Account','ruolo','Ruolo');">Ruolo</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Account','valid','Validità');">Validità</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Account','dataReg','Data registrazione');">Data registrazione</a></li>
                <li><a class="dropdown-item" href="javascript:filter('Account','dataExp','Data scadenza');">Data scadenza</a></li>
            </ul>
        </div> 
    </div>
    <div id="divFiltro">
        
    </div>

    <div id="divTabellone" class="tabcontent" >
    </div>  
</div>
{% endblock bodyOfPage %}
