{# login.html #}
{% extends 'basePage.html' %}

{% block links %}
<script src="{{url_for('static', path='js/admin.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', path='css/styleAdmin.css')}}">
{% endblock links %}


{% block bodyOfPage %}


<div class="container">
    <div class="tab">
        <button class="tablinks" onclick="tabella('People')">Persone</button>
        <button class="tablinks" onclick="tabella('Classm')">Classi</button>
        <button class="tablinks" onclick="tabella('Phones')">Telefoni</button>
        <button class="tablinks" onclick="tabella('Vehicles')">Veicoli</button>
        <button class="tablinks" onclick="tabella('Account')">Account</button>
        <button class="tablinks" onclick="tabella('approvedAccount')">Account da approvare</button>
    </div>
    <div id="divTabellone" class="tabcontent">
    </div>
      
</div>
{% endblock bodyOfPage %}
