{# error404.html #}
{% extends 'basePage.html' %}

{% block links %}
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="{{url_for('static', path='js/error404.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', path='css/style.css')}}">
{% endblock links %}

{% block bodyOfPage %}
<div class="container">
	<div class="card border-0 mb-3">
		<div class="card-body border-0">
			<div class="row justify-content-center">
				<div class="card border-0 mb-3" style="text-align: center;">
					<h2>
						ERROR 404
					</h2>
				</div>
			</div>
		</div>

        <div class="d-flex aligns-items-center justify-content-center card text-center w-100 mx-auto" >
            <div class="card text-bg-light justify-content-center mb-3" style="width: 18rem; position: relative;align-self: center;">
                <div class="card-header" id="titolo">
                    Pagina non trovata
                </div>
                <ul id="carta" class="list-group list-group-flush text-bg-light border-dark" >
                    <div class="d-flex justify-content-center">
                        <div id="bottoni">
                            <div class="btn-group" >
                                <button type="button" class="btn btn-sm  btn-primary" onclick="changeWin('./');" style="margin-right: 0px;">Home Page</button>
                            </div>
                    
                            <div class="btn-group  ">
                                <button type="button" class="btn btn-sm  btn-primary" onclick="changeWin('./login');" style="margin-right: 0px;">Login</button>
                            </div> 
                        </div>
                        <div id="bottoniUser" style="display: none;">
                            <div class="btn-group" >
                                <button type="button" class="btn btn-sm  btn-primary" onclick="changeWin('./');" style="margin-right: 0px;">Home Page</button>
                            </div>
                    
                            <div class="btn-group  ">
                                <button type="button" class="btn btn-sm  btn-primary" onclick="changeWin('./profile');" style="margin-right: 0px;">Profilo</button>
                            </div> 
                        </div>
                        <div id="bottoniAdmin" style="display: none;">
                            <div class="btn-group" >
                                <button type="button" class="btn btn-sm  btn-primary" onclick="changeWin('./');" style="margin-right: 0px;">Home Page</button>
                            </div>
                    
                            <div class="btn-group  ">
                                <button type="button" class="btn btn-sm  btn-primary" onclick="changeWin('./admin');" style="margin-right: 0px;">Gestione</button>
                            </div> 
                        </div>
                    </div>
                </ul>
            </div>  
        </div>
	</div>
</div>
{% endblock bodyOfPage %}
