{# error404.html #}
{% extends 'basePage.html' %}

{% block links %}
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="{{url_for('static', path='js/error404.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', path='css/style.css')}}">
{% endblock links %}

{% block bodyOfPage %}
<div class="container">
	<div class="card border-0 mb-3">
		<div class="card-body border-0">
			<div class="row justify-content-center">
				<div class="card border-0 mb-3" style="text-align: center;">
					<h2>
						Home Page
					</h2>
				</div>
			</div>
		</div>

        <div class="d-flex aligns-items-center justify-content-center card text-center w-100 mx-auto" >
            <div id="bloccoImg">
				<img src="{{url_for('static', path='images/mileXmile.png')}}" alt="Logo" style="height: 500px;width: 500px;">
			</div>
			<br><br>
			<div class="card text-bg-light justify-content-center mb-3" style="width: 18rem; position: relative;align-self: center;">
                <div class="card-header" id="titolo">
                    Progetto PSP
                </div>
                <ul id="carta" class="list-group list-group-flush text-bg-light border-dark" >
					
					<li class="list-group-item text-bg-light border-dark">
						<div id="bloccoSpiegazione">
							PSP una web app che ti permette di gestire il parcheggio della scuola.
Tramite una semplice interfaccia utente potrai registrarti e ogni volta che vorrai generare un qr code unico per entrare nel parcheggio.
Scansiona il tuo qr code all'entrata e parcheggia il tuo veicolo. 
						</div>
					</li>
					<li class="list-group-item text-bg-light border-dark">
						<div>
							L'intero codice è visionabile dalla repository <a href="https://github.com/DMlogobardi/PSP" style="text-decoration: none;">GITHUB</a>
						</div>
						
					</li>
				</ul>
            </div>  
        </div>
		<div id="iFrame">
			<iframe src="https://github.com/DMlogobardi/PSP" width="100%" height="300" style="border:1px solid black;">
			</iframe>
		</div>
	</div>
</div>
{% endblock bodyOfPage %}
