{# login.html #}
{% extends 'basePage.html' %}

{% block links %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js"></script>
<script src="{{url_for('static', path='js/loginPage2.js')}}"></script>

{% endblock links %}

{% block bodyOfPage %}
<div class="p-3 mb-2 bg-dark text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <p class="fs-2">LOGIN</p>
        <form>
          <div class="mb-3">
            <label for="InputNickname" class="form-label" >Nickname</label>
            <input type="Nickname" class="form-control" id="nicknameInput" aria-describedby="NicknameHelp"  placeholder="Insert Nickname" required>
          </div>
          <div class="mb-3">
            <label for="InputPassword1" class="form-label" >Password</label>
            <input type="password" class="form-control" id="passwordInput" required>
          </div>
          <div class="mb-3 form-check">
            <input type="button" onclick="showPwd()" value="&#128065">
          </div>
          <button type="button" class="btn btn-primary" onclick="control();">INVIA</button>
        </form>
      </div>    
        <div class="col">
      </div>
    </div>
  </div>
</div>



{% endblock bodyOfPage %}