{# createQR.html #}
{% extends 'basePage.html' %}

{% block links %}
<script src="{{url_for('static', path='js/registerPart2.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', path='css/style.css')}}">
{% endblock links %}

{% block bodyOfPage %}
<div class="container">
	
	<div class="card border-dark mb-3">
		<div class="card-body">
			<div class="row justify-content-center">
				<div class="card text-bg-dark mb-3">
					<h2>
						First Access
					</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="media-container-column col-lg-8" data-form-type="formoid">
        <form>
            <div id="blocco1">
                <div class="mb-3" >
                    <h4>
                        <label for="prefixInput" class="form-label " >Prefisso telefonico</label>
                    </h4>
                    <input type="text" class="form-control" id="prefixInput" placeholder="Insert Prefix" required>
                </div>

                <div class="mb-3">
                    <h4>
                        <label for="numInput" class="form-label " >Numero di telefono</label>
                    </h4>
                    <input type="text" class="form-control" id="numInput" placeholder="Insert telephone number" required>
                </div>
                
                </div>
                <button type="button" class="btn btn-primary" onclick="switchDiv(`blocco1`,`blocco2`)">AVANTI</button>
            </div>

            <div id="blocco2" style="display: none;">
                <div class="mb-3" >
                    <div class="sceltaTipoVeicolo">
                        <h4>
                            <label for="sceltaGenere" >Tipo veicolo</label><br>
                        </h4>
                        <input type="radio" id="auto" name="tipoVeicolo" value="auto" onclick="switchRole('auto')" checked>
                        <label for="auto">Auto</label><br>
                        <input type="radio" id="moto" name="tipoVeicolo" value="studente" onclick="switchRole('moto')">
                        <label for="moto">Moto</label><br>
                        <input type="radio" id="altro" name="tipoVeicolo" value="altro" onclick="switchRole('altro')">
                        <label for="altro">Altro</label><br>
                    </div>
                </div>

                <div class="mb-3">
                    <h4>
                        <label for="targaInput" class="form-label" >Targa</label>
                    </h4>
                    <input type="text" class="form-control" id="targaInput"  placeholder="Insert your plate number" required>
                </div>
                
                <div class="mb-3">
                    <h4>
                        <label for="inputProp" class="form-label " >Proprietario</label>
                    </h4>
                    <input type="text" class="form-control" id="propInput" placeholder="Insert owner's name" required>
                </div>
                <button type="button" class="btn btn-primary" onclick="switchDiv(`blocco2`,`blocco1`);">INDIETRO</button>
                <button type="button" class="btn btn-primary" onclick="control();">INVIA</button>
            </div>    
        </form>
    </div>
</div>
</div>

{% endblock bodyOfPage %}
